USE [master]
GO
/****** Object:  Database [PHANMEMTHITRACNGHIEM]    Script Date: 13/10/2022 1:11:00 SA ******/
CREATE DATABASE [PHANMEMTHITRACNGHIEM]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'PHANMEMTHITRACNGHIEM', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\PHANMEMTHITRACNGHIEM.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'PHANMEMTHITRACNGHIEM_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\PHANMEMTHITRACNGHIEM_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [PHANMEMTHITRACNGHIEM].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [PHANMEMTHITRACNGHIEM]
GO
/****** Object:  Table [dbo].[BANGDIEM]    Script Date: 13/10/2022 1:11:00 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BANGDIEM](
	[ID] [int] NULL,
	[DIEM] [float] NULL,
	[MASV] [varchar](15) NOT NULL,
	[MAKITHI] [varchar](11) NULL,
	[MAMT] [varchar](40) NULL,
 CONSTRAINT [PK_BANGDIEM] PRIMARY KEY CLUSTERED 
(
	[MASV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CAUHOI]    Script Date: 13/10/2022 1:11:00 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CAUHOI](
	[STT] [int] NOT NULL,
	[MACAUHOI] [int] NOT NULL,
	[NDCAUHOI] [nvarchar](500) NULL,
	[DAPAN1] [nvarchar](200) NOT NULL,
	[DAPAN2] [nvarchar](200) NOT NULL,
	[DAPAN3] [nvarchar](200) NOT NULL,
	[DAPAN4] [nvarchar](200) NOT NULL,
	[DAPANDUNG] [nvarchar](200) NOT NULL,
 CONSTRAINT [PK__CAUHOI__DCF1CAB753D379C5] PRIMARY KEY CLUSTERED 
(
	[MACAUHOI] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CHITIETDETHI]    Script Date: 13/10/2022 1:11:00 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHITIETDETHI](
	[MADETHI] [varchar](10) NOT NULL,
	[MACAUHOI] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MADETHI] ASC,
	[MACAUHOI] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CHITIETKYTHI]    Script Date: 13/10/2022 1:11:00 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHITIETKYTHI](
	[MAKITHI] [varchar](11) NOT NULL,
	[MAMT] [varchar](40) NOT NULL,
	[DIEM] [float] NULL,
	[THOIGIANTHI] [datetime] NULL,
	[THOIGIANBD] [datetime] NULL,
	[THOIGIANKT] [datetime] NULL,
	[MASV] [varchar](15) NOT NULL,
 CONSTRAINT [PK__CHITIETK__496ECCBD5279531F] PRIMARY KEY CLUSTERED 
(
	[MAKITHI] ASC,
	[MAMT] ASC,
	[MASV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DETHI]    Script Date: 13/10/2022 1:11:00 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DETHI](
	[ID] [int] NULL,
	[MADETHI] [varchar](10) NOT NULL,
	[MAKITHI] [varchar](11) NULL,
	[MAGV] [varchar](15) NULL,
	[MAMT] [varchar](40) NULL,
 CONSTRAINT [PK__DETHI__01E3D5662F4B5874] PRIMARY KEY CLUSTERED 
(
	[MADETHI] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GIANGVIEN]    Script Date: 13/10/2022 1:11:00 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GIANGVIEN](
	[STT] [int] NULL,
	[MAGV] [varchar](15) NOT NULL,
	[TENGV] [nvarchar](50) NOT NULL,
	[NGAYSINH] [date] NOT NULL,
	[MATKHAU] [varchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MAGV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KITHI]    Script Date: 13/10/2022 1:11:00 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KITHI](
	[ID] [int] NULL,
	[MAKITHI] [varchar](11) NOT NULL,
	[TENKITHI] [nvarchar](50) NOT NULL,
	[ADMIN] [varchar](20) NULL,
 CONSTRAINT [PK__KITHI__2F6D3A220BF88B28] PRIMARY KEY CLUSTERED 
(
	[MAKITHI] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MONTHI]    Script Date: 13/10/2022 1:11:00 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MONTHI](
	[STT] [int] NULL,
	[MAMT] [varchar](40) NOT NULL,
	[TENMT] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK__MONTHI__603F69F77FA9816A] PRIMARY KEY CLUSTERED 
(
	[MAMT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[QUANTRI]    Script Date: 13/10/2022 1:11:00 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[QUANTRI](
	[STT] [int] NULL,
	[ADMIN] [varchar](20) NOT NULL,
	[MATKHAU] [nvarchar](20) NOT NULL,
 CONSTRAINT [PK__QUANTRI__A58DF1B9CC7A42DA] PRIMARY KEY CLUSTERED 
(
	[ADMIN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SINHVIEN]    Script Date: 13/10/2022 1:11:00 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SINHVIEN](
	[STT] [int] NOT NULL,
	[MASV] [varchar](15) NOT NULL,
	[LOP] [varchar](10) NOT NULL,
	[TENSV] [nvarchar](50) NOT NULL,
	[NGAYSINH] [date] NOT NULL,
	[MATKHAU] [varchar](20) NOT NULL,
 CONSTRAINT [PK__SINHVIEN__60228A28541DC41F] PRIMARY KEY CLUSTERED 
(
	[MASV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[BANGDIEM]  WITH CHECK ADD  CONSTRAINT [FK_BANGDIEM_CHITIETKYTHI] FOREIGN KEY([MAKITHI], [MAMT], [MASV])
REFERENCES [dbo].[CHITIETKYTHI] ([MAKITHI], [MAMT], [MASV])
GO
ALTER TABLE [dbo].[BANGDIEM] CHECK CONSTRAINT [FK_BANGDIEM_CHITIETKYTHI]
GO
ALTER TABLE [dbo].[CHITIETDETHI]  WITH CHECK ADD FOREIGN KEY([MACAUHOI])
REFERENCES [dbo].[CAUHOI] ([MACAUHOI])
GO
ALTER TABLE [dbo].[CHITIETDETHI]  WITH CHECK ADD FOREIGN KEY([MADETHI])
REFERENCES [dbo].[DETHI] ([MADETHI])
GO
ALTER TABLE [dbo].[CHITIETKYTHI]  WITH CHECK ADD  CONSTRAINT [FK__CHITIETKY__MAKIT__31B762FC] FOREIGN KEY([MAKITHI])
REFERENCES [dbo].[KITHI] ([MAKITHI])
GO
ALTER TABLE [dbo].[CHITIETKYTHI] CHECK CONSTRAINT [FK__CHITIETKY__MAKIT__31B762FC]
GO
ALTER TABLE [dbo].[CHITIETKYTHI]  WITH CHECK ADD  CONSTRAINT [FK__CHITIETKYT__MAMT__32AB8735] FOREIGN KEY([MAMT])
REFERENCES [dbo].[MONTHI] ([MAMT])
GO
ALTER TABLE [dbo].[CHITIETKYTHI] CHECK CONSTRAINT [FK__CHITIETKYT__MAMT__32AB8735]
GO
ALTER TABLE [dbo].[CHITIETKYTHI]  WITH CHECK ADD  CONSTRAINT [FK_CHITIETKYTHI_SINHVIEN] FOREIGN KEY([MASV])
REFERENCES [dbo].[SINHVIEN] ([MASV])
GO
ALTER TABLE [dbo].[CHITIETKYTHI] CHECK CONSTRAINT [FK_CHITIETKYTHI_SINHVIEN]
GO
ALTER TABLE [dbo].[DETHI]  WITH CHECK ADD FOREIGN KEY([MAGV])
REFERENCES [dbo].[GIANGVIEN] ([MAGV])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[DETHI]  WITH CHECK ADD FOREIGN KEY([MAMT])
REFERENCES [dbo].[MONTHI] ([MAMT])
GO
ALTER TABLE [dbo].[KITHI]  WITH CHECK ADD  CONSTRAINT [FK_KITHI_QUANTRI] FOREIGN KEY([ADMIN])
REFERENCES [dbo].[QUANTRI] ([ADMIN])
GO
ALTER TABLE [dbo].[KITHI] CHECK CONSTRAINT [FK_KITHI_QUANTRI]
GO
USE [master]
GO
